@{
  // Blank pagina. Wordt gebruikt om naar te redirecten als de site is ingeframed en er iets fout gaat.
  Layout = "";
}
<p>Oeps, er ging iets mis. Gebruik de terugknop in je browser om weer terug te gaan. Of ga weer naar @Html.RouteLink("home", AdvieskeuzeRoutes.Home()).</p>