<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Neem contact met ons op</h1>
    <p>Bedankt voor je vraag of suggestie. We geven zo snel mogelijk een reactie of nemen contact op.</p>
  </div>
</div>
