<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Cookiebeleid</h1>
    <p>Advieskeuze.nl maakt op de website gebruik van cookies. Een cookie is een eenvoudig klein bestandje dat met pagina’s van deze website wordt meegestuurd en op de harde schrijf van je computer worden opgeslagen. Meer informatie over het gebruik van cookies door Advieskeuze.nl vind je hieronder.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>Wat zijn cookies?</h2>
    <p>Webpagina's hebben geen geheugen. Een bezoeker die van pagina naar pagina surft binnen een website wordt door de webserver telkens als een nieuwe bezoeker gezien. Cookies zorgen ervoor dat een website je browser blijft herkennen.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2 class="mb1">Welke soorten cookies worden gebruikt?</h2>
    <u>1. Functionele cookies</u>
    <p>functionele cookies bevatten geen persoonsgegevens en worden alleen toegepast om het gebruik van de website voor jou gemakkelijker te maken. Zo worden instellingsvoorkeuren onthouden.</p>

    <u>2. Cookies voor websiteanalyse</u>
    <p>Om de gebruiksvriendelijkheid van de site te verbeteren, houdt Advieskeuze.nl met het statistiekprogramma Google Analytics algemene bezoekgegevens bij. Denk hierbij aan gegevens over de meest opgevraagde pagina's of meest bezochte pagina's. Met deze informatie optimaliseert Advieskeuze.nl de website, zodat we bezoekers helpen nog beter hun adviseur te kunnen vinden.</p>
    <p>Het statistiekprogramma Google Analytics maakt gebruik van cookies. De informatie die Google verzamelt, wordt door Google zo veel mogelijk geanonimiseerd. Je IP-adres wordt nadrukkelijk niet meegegeven. De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten. Google kan deze informatie aan derden verschaffen als het hiertoe wettelijk wordt verplicht.</p>

    <u>3. Overige cookies</u>
    <p>De website van Advieskeuze.nl bevat mediabestanden van derden zoals filmpjes van YouTube. Bij het afspelen van deze mediabestanden kunnen door deze derden cookies geplaatst worden. Verder kun je de website van Advieskeuze.nl informatie delen via sociale netwerken als Facebook, LinkedIn of Twitter. Bij gebruik van deze functionaliteit kunnen deze sociale netwerken cookies op je computer plaatsen.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>Wat kan ik doen als ik (bepaalde) cookies niet wil?</h2>
    <p>Je kan via de instellingen van je browser (bijvoorbeeld Internet Explorer, Safari, Firefox, Mozilla of Chrome) aangeven of en, zo ja, welke cookies je accepteert. Het verschilt per browser waar deze instellingen zich bevinden. Via de 'help'-functie van je browser kun je de exacte locatie en werkwijze achterhalen.</p>
    <p>Houd er rekening mee dat indien je (bepaalde) cookies weigert, je mogelijkerwijs geen of niet volledig gebruik kunt maken van de functionaliteiten van Advieskeuze.nl.</p>
  </div>
</div>