<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Disclaimer</h1>
    <p>Door het gebruik van de website Advieskeuze.nl accepteer je deze disclaimer. Advieskeuze.nl  kan niet instaan voor de volledigheid, juistheid of voortdurende actualiteit van de gegevens en de inhoud van de website ondanks de constante zorg en aandacht die er wordt besteed aan de informatie. Kom je ergens een fout tegen? Dan zouden we het fijn vinden als je ons daarvan op de hoogte stelt. Je kan daarvoor ons @Html.RouteLink("contactformulier", AdvieskeuzeRoutes.Contact()) gebruiken.</p>
    <p>Indien je uitsluitend op basis van de informatie op deze website de beslissing neemt om verplichtingen aan te gaan, ben je zelf verantwoordelijk voor de gevolgen daarvan. We willen je er dus op wijzen dat Advieskeuze.nl niet verantwoordelijk is voor de directe of indirecte schade, van welke aard dan ook, die voortvloeit uit jouw beslissingen. Op deze website staan ook linkjes naar andere websites. Advieskeuze.nl is niet aansprakelijk voor de inhoud van die websites en/of de wijze waarop die websites omgaan met jouw (persoons)gegevens.</p>
    <p>Advieskeuze.nl doet haar uiterste best om ervoor te zorgen dat de informatie op de website (inclusief alle informatie van advieskantoren en de reviews) geen fouten bevat. Helaas kunnen we dit niet garanderen. Advieskeuze.nl kan op geen enkele manier verantwoordelijk worden gehouden voor de inhoud hiervan en is niet aansprakelijk voor enigerlei directe of indirecte schade, van welke aard dan ook, die mogelijk voortvloeit uit de betreffende uitingen.</p>
    <p>De inhoud van deze website, waaronder bijvoorbeeld teksten, zoekresultaten, illustraties, grafisch materiaal, namen, logo’s, zijn eigendom van Advieskeuze.nl en worden beschermd met de auteurswet en andere toepasselijke wetten en regelingen. De intellectuele eigendomsrechten ten aanzien van de via de website aangeboden informatie berusten bij Advieskeuze.nl dan wel bij derden. </p>
    <p>De inhoud van deze website mag alleen worden gebruikt voor niet-commerciële privé doeleinden. Het is de gebruiker van Advieskeuze.nl niet toegestaan om (gedeelten van) de inhoud van de site te vermenigvuldigen, te distribueren of ten vergoeding aan derden beschikbaar te stellen, zonder de uitdrukkelijke, schriftelijke toestemming van Advieskeuze.nl. Scraping van data van Advieskeuze.nl voor het verrijken van een eigen zakelijke of particuliere database is niet toegestaan.</p>
    <p>De informatie op deze website wordt regelmatig aangevuld en/of aangepast. Advieskeuze.nl behoudt zich het recht voor om eventuele wijzigingen met onmiddellijke ingang en zonder enige kennisgeving door te voeren.</p>
  </div>
  <div class="grid-cell100">
    <h2>Responsible disclosure</h2>
    <p>Als je een zwakke plek in één van onze systemen hebt gevonden horen wij dit graag. Advieskeuze.nl doet er alles aan om de benodigde maatregelen zo snel mogelĳk te kunnen treffen. Het kan zijn dat er onvoorzien een kwetsbaarheid opduikt, wij willen onze klanten en onze systemen zo goed mogelijk beschermen en nemen elke melding serieus.</p>
    <p>Heb je kwestbaarheden gevonden? Neem dan contact met ons op en stuur deze naar <b>admin@advieskeuze.nl</b>, je kan onze <a href="/content/pgp_public_key.txt" target="_new">publieke PGP key</a> gebruiken om je e-mail te versleutelen. Versleuteling is belangrijk, vooral wanneer het gaat om gevoelige en/of persoonsgegevens.</p>
    <p>Wij gaan direct met de melding aan de slag en geven je binnen 2 werkdagen een inhoudelijke reactie met daarin in ieder geval:</p>
    <ul>
      <li>Ontvangstbevestiging</li>
      <li>Erkenning van kwetsbaarheid</li>
      <li>Oplossingsrichting</li>
      <li>Beloning</li>
    </ul>
    <p>Tijdens onze werkzaamheden om de gevonden kwetsbaarheden op te lossen willen we je vragen je bevindingen nergens anders te delen.</p>
  </div>
</div>
