@using SharedCode
@{
  var cdn = GewrapteSettings.CDNUrl;
}

<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Missie</h1>
    <p>Advieskeuze.nl is een platform dat de consument helpt bij het vinden van de juiste dienstverlener. Het kiezen voor een dienstverlener is namelijk lang niet altijd eenvoudig omdat per persoon verschillend is waar je hulp of advies bij nodig hebt. Advieskeuze.nl verzamelt zoveel mogelijk relevante data: het platform toont betrouwbare informatie over dienstverleners en maakt klantbeleving inzichtelijk door middel van reviews. Advieskeuze.nl streeft ernaar alle dienstverleners te activeren om met het platform te werken en in co-creatie met andere (markt)partijen een zo groot mogelijk consumentenbereik te creëren.</p>
    <h1>Visie</h1>
    <p>Advieskeuze.nl streeft ernaar het platform te zijn waarop objectieve advieskwaliteit over dienstverlening in Nederland zichtbaar is voor de consument, zodat iedere consument met vertrouwen een bewuste keuze kan maken voor de dienstverlener die het best bij hem past.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h1>Kernwaarden</h1>
    <p>Onze eigen filosofie baseren we op onze vijf kernwaarden.</p>

    <b>1. Betrouwbaar</b><br />
    <p>Vertrouwen is de basis van goede samenwerking. We durven in alle opzichten open en eerlijk te zijn door onze gevoelens en meningen ongeveinsd met elkaar te delen.</p>

    <b>2. Ondernemend</b><br />
    <p>We hebben ondernemerschap hoog in het vaandel staan. Daarom zijn we ooit gestart met Advieskeuze.nl. We wachten niet af en nemen zelf het initiatief om zaken in gang te zetten en zijn we te allen tijde op zoek naar innovatieve oplossingen en samenwerkingen.</p>

    <b>3. Resultaatgericht</b><br />
    <p>Wij willen op professionele wijze samenwerken met de beste organisaties in Nederland. Dat doen we onder andere door te bouwen aan een goede relatie, het delen van onze ervaringen en uiteraard een maximale inzet te tonen om te gaan voor het hoogst haalbare doel.</p>

    <b>4. Idealistisch</b><br />
    <p>Idealisme zit in ons bloed. We geloven in een ‘betere wereld’ waarbij diensten worden aangeboden waar je écht iets aan hebt. Daar hoort ook bij dat wij slechte diensten aan de kaak zullen stellen en proberen we om de dialoog aan te gaan.</p>

    <b>5. Plezier</b><br />
    <p>Plezier is voor ons een heel belangrijk cultuurelement. Het is de basis voor een stuk animo, voldoening en passie. Met veel lol en enthousiasme wordt werken een liefhebberij. Dit genoegen delen we graag met jou en onze businesspartners.</p>
  </div>
</div>
