<div class="grid pt1">
  <div class="grid-cell100">
    <h1>PRIVACYBELEID ADVIESKEUZE.NL</h1>
    <h1>A. INLEIDING</h1>
    <h2>1 Algemene informatie</h2>
    <p>1.1	Dit Privacybeleid (“<b>Beleid</b>”) wordt gebruikt door Advieskeuze.nl B.V. (hierna: “<b>Advieskeuze.nl</b>” of “Wij”). Advieskeuze.nl is statutair gevestigd te Amersfoort, kantoorhoudende te (3824 MR) Amersfoort aan Spacelab 41, ingeschreven in het handelsregister van de Kamer van Koophandel onder registratienummer 54112346. Advieskeuze.nl is bereikbaar via info@advieskeuze.nl.</p>
    <p>1.2	Dit Beleid is bedoeld om aan je uit te leggen waarom en hoe er gegevens die natuurlijke personen identificeren of zouden kunnen identificeren (“<b>Persoonsgegevens</b>”) worden verwerkt door Advieskeuze.nl. Tenzij anders aangegeven, is Advieskeuze.nl de ‘verwerkingsverantwoordelijke’, zoals bedoeld in de Algemene Verordening Gegevensbescherming (“<b>AVG</b>”) voor de verwerking van de Persoonsgegevens zoals omschreven in dit Beleid. De Persoonsgegevens waarop dit beleid betrekking heeft worden verwerkt  via de website www.advieskeuze.nl en extranet.advieskeuze.nl (hierna gezamenlijk: “<b>Website</b>”) en het daarop bevindende account dat je registreert binnen de Website (hierna: “<b>Account</b>”).</p>
    <p>1.3	De Website verwerkt alleen persoonsgegevens ten behoeve van Advieskeuze.nl de Persoonsgegevens worden door jezelf ingevoerd bij het aanmaken van een Account of gebruik van de Website en worden daarom verzameld door Advieskeuze.nl. Je bent nooit verplicht Persoonsgegevens achter te laten op de Website. Van andere bedrijven worden de contactgegevens weergegeven zodat er makkelijk zelf contact op kan worden genomen. Extranet.advieskeuze.nl is de beheeromgeving voor bedrijven met een vermelding op Advieskeuze.nl. Bedrijven kunnen hierin het profiel van het eigen bedrijf beheren.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>2	Verwerkingssituaties</h2>
    <h2>2.1	Via de Website kunnen Persoonsgegevens van je worden verwerkt in de volgende situaties:</h2>
    <ul class="mb1">
      <li>Je bent bezoeker van de Website, en op zoek naar informatie over een adviseur;</li>
      <li>Je bent als adviseur opgenomen op de Website of wenst hierop te worden opgenomen;</li>
      <li>Je verstrekt op een andere manier Persoonsgegevens aan Advieskeuze.nl;</li>
    </ul>
    <p>2.2	In beginsel verwerkt Advieskeuze.nl enkel gegevens die rechtstreeks van je afkomstig zijn. Onder bepaalde omstandigheden kunnen gegevens van derden afkomstig zijn. Bijvoorbeeld van je werkgever, indien deze (mede) namens je een adviseur zoekt dan wel indien jij in dienst bent bij een Adviseur.</p>
    <p>2.3	Het verstrekken van persoonsgegevens kan een noodzakelijke voorwaarde zijn om met Advieskeuze.nl een overeenkomst te sluiten. Wanneer deze gegevens niet worden verstrekt zal Advieskeuze.nl mogelijk niet kunnen voldoen aan de verplichtingen die op Advieskeuze.nl rusten op grond van de gesloten of te sluiten overeenkomst.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h1>B. JIJ ZOEKT EEN ADVISEUR</h1>
    <h2>3	Verwerkte persoonsgegevens</h2>
    <p>3.1	Bij het bezoeken van de Website wordt aan je gevraagd of je als particulier of zakelijk op zoek bent naar een adviseur. Om in contact te komen met een adviseur wordt je gevraagd om Persoonsgegevens in te vullen. De Persoonsgegevens die Advieskeuze.nl verwerkt via het gebruik van de Website zijn mogelijk:</p>
    <ul class="mb1">
      <li>Je voor- en achternaam;</li>
      <li>Je e-mailadres;</li>
      <li>Je telefoonnummer;</li>
      <li>Je gezinssamenstelling;</li>
      <li>Je geslacht;</li>
      <li>Je titel;</li>
      <li>Je IP adres;</li>
    </ul>
    <p>3.2	Naast deze Persoonsgegevens is het mogelijk dat je in je contact met ons nog verdere Persoonsgegevens aan ons verstrekt. Het gaat om de volgende categorieën van Persoonsgegevens:</p>
    <p>De Persoonsgegevens die Advieskeuze.nl verkrijgt door je gebruik van onze Website, contact met ons zoekt of anderszins met ons communiceert, al dan niet namens een onderneming.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>4	Doeleinden voor de verwerking</h2>
    <p>4.1	Advieskeuze.nl verwerkt Persoonsgegevens voor de volgende doeleinden:</p>
    <ul class="mb1">
      <li>Om je in contact te brengen met de adviseur van je keuze;</li>
      <li>Om een tussen jou en Advieskeuze.nl gesloten overeenkomst te kunnen uitvoeren;</li>
      <li>Om je te identificeren en met je te communiceren;</li>
      <li>Om de door je gegeven review te kunnen tonen en controleren;</li>
      <li>Om eigen direct marketing activiteiten uit te voeren;</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>5	Wettelijke grondslagen voor de verwerking</h2>
    <p>5.1	Advieskeuze.nl verwerkt je gegevens op basis van een of meer van de volgende wettelijke grondslagen:</p>
    <p>5.1.1	Op basis van je toestemming;</p>
    <p>5.1.2	De verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij je, je werkgever of je opdrachtgever partij is, of om op je verzoek vóór de sluiting van een overeenkomst maatregelen te nemen;</p>
    <p>5.1.3	Op basis van het gerechtvaardigd belang van Advieskeuze.nl als commerciële onderneming om onze diensten aan te kunnen bieden, behalve wanneer je belangen of je grondrechten en fundamentele vrijheden zwaarder wegen dan die belangen;</p>
    <p>5.1.4	Een wettelijke (bijvoorbeeld fiscale) verplichting;</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>6	Bewaartermijnen</h2>
    <p>6.1	Wij verwerken je gegevens zolang als dit strikt noodzakelijk is in het kader van bovengenoemde doelen, en verwijderen deze in ieder geval na afloop van de volgende termijnen, behalve wanneer er een langere wettelijke bewaartermijn geldt:</p>
    <p>6.1.1	<u>Gegevens opgegeven bij een aanvraag</u>: gegevens die je opgeeft bij de aanvraag van meer informatie van of over een adviseur bewaren wij voor een periode van 6 maanden, zodat de door je gekozen adviseur contactverzoeken kan terugzoeken en opvolgen. De door je gekozen adviseur kan de gegevens als zelfstandig verwerkingsverantwoordelijke mogelijk langer bewaren. Hierop hebben wij geen invloed.</p>
    <p>6.1.2	<u>Reviews</u>: we bewaren door je opgegeven persoonsgegevens (zoals je e-mailadres) zes maanden, zodat de adviseur ruim de tijd heeft om te reageren op de review of bezwaar te maken tegen de review. Na deze zes maanden worden je gegevens ook onherkenbaar gemaakt voor Advieskeuze.nl. Je review blijft zichtbaar onder de naam die je invult bij ‘Naam bij de review’. Je bent vrij om hier bijvoorbeeld alleen voornaam, afkorting of een pseudoniem in te vullen.</p>
    <p>6.1.3	<u>Contactformulier</u>: Persoonsgegevens verstrekt via het contactformulier op onze Website of anderszins vrijwillig aan Advieskeuze.nl verstrekt worden 1 jaar na het laatste contact met je verwijderd.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h1>C. JE BENT EEN ADVISEUR</h1>
    <h2>7	Verwerkte persoonsgegevens</h2>
    <p>7.1	Een adviseur is de dienstverlener waarmee Advieskeuze.nl de klant – als intermediair - in contact brengt. Een adviseur wordt gevraagd om een extranet Account aan te maken. Voor het gebruik van het Account wordt aan je gevraagd om Persoonsgegevens in te vullen. De Persoonsgegevens die Advieskeuze.nl verwerkt via het extranet Account zijn mogelijk:</p>
    <ul class="mb1">
      <li>Je voor- en achternaam;</li>
      <li>Je geboortedatum;</li>
      <li>Je e-mailadres;</li>
      <li>Je IP adres;</li>
      <li>Je geslacht;</li>
      <li>Je functie;</li>
      <li>Je titel;</li>
      <li>Je foto;</li>
      <li>Je avatar;</li>
    </ul>
    <p>7.2	Naast deze Persoonsgegevens is het mogelijk dat er bij het gebruik van het extranet Account ook nog verdere Persoonsgegevens aan ons worden verstrekt. Het gaat dan om de volgende categorieën van Persoonsgegevens:</p>
    <ul class="mb1">
      <li>De Persoonsgegevens die medewerkers van een adviseur of dienstverlener aanvullend aan Advieskeuze.nl verstrekken om de dienstverlening aan de klant te optimaliseren;</li>
      <li>De Persoonsgegevens die Advieskeuze.nl verkrijgt door je gebruik van onze Website, contact met ons zoekt of anderszins met ons communiceert;</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>8	Doeleinden voor de verwerking</h2>
    <p>8.1	Advieskeuze.nl verwerkt Persoonsgegevens voor de volgende doeleinden:</p>
    <ul class="mb1">
      <li>Om je in contact te brengen met potentiële en bestaande klanten;</li>
      <li>Om een tussen jou en Advieskeuze.nl gesloten overeenkomst te kunnen uitvoeren;</li>
      <li>Om je te identificeren en met je te communiceren;</li>
      <li>Om eigen direct marketing activiteiten uit te voeren;</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>9	Wettelijke grondslagen voor de verwerking</h2>
    <p>9.1	Advieskeuze.nl verwerkt je gegevens op basis van een of meer van de volgende wettelijke grondslagen:</p>
    <p>9.1.1	De verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij je, je werkgever of je opdrachtgever partij is, of om op je verzoek vóór de sluiting van een overeenkomst maatregelen te nemen;</p>
    <p>9.1.2	Op basis van het gerechtvaardigd belang van Advieskeuze.nl als commerciële onderneming om onze diensten aan te kunnen bieden, behalve wanneer je belangen of je grondrechten en fundamentele vrijheden zwaarder wegen dan die belangen</p>
    <p>9.1.3	Een wettelijke (bijvoorbeeld fiscale) verplichting;</p>
    <p>9.1.4	Indien dit nodig blijkt, zullen wij je (al dan niet aanvullende) toestemming voor de verwerking van je Persoonsgegevens vragen.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>10	Bewaartermijnen</h2>
    <p>10.1	Wij verwerken je gegevens zolang als dit strikt noodzakelijk is in het kader van bovengenoemde doelen, en verwijderen deze in ieder geval na afloop van de volgende termijnen, behalve wanneer er een langere wettelijke bewaartermijn geldt:</p>
    <p>10.1.1	<u>Contactformulier</u>: Persoonsgegevens verstrekt via het contactformulier op onze Website of anderszins vrijwillig aan Advieskeuze.nl verstrekt worden één jaar na het laatste contact met je verwijderd.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h1>D. DOORGIFTE VAN PERSOONSGEGEVENS</h1>
    <h2>11	Ontvangers</h2>
    <p>11.1	Advieskeuze.nl geeft Persoonsgegevens mogelijk door aan derde partijen, zogenaamde ‘ontvangers’, indien dit noodzakelijk is voor de uitvoering van de doeleinden die in dit Beleid zijn genoemd. De (categorieën van) mogelijke ontvangers van de Persoonsgegevens zijn:</p>
    <p>11.2	Adviseurs of aanvragers van advies, op grond van specifieke toestemming voor de doorgifte;</p>
    <p>11.3	Partijen die in onze opdracht gegevens verwerken als zogenaamde verwerkers. Het is deze verwerkers niet toegestaan gegevens voor eigen doeleinden te verwerken.</p>
    <p>11.4	Onze auditors, juridische adviseurs, accountants en andere adviseurs, indien nodig in het kader van de uitoefening van onze gerechtvaardigde belangen dan wel een wettelijke verplichting;</p>
    <p>11.5	Mogelijke overige ontvangers waar je expliciet of impliciet mee akkoord gaat in de uitvoering van de diensten van Advieskeuze.nl voor jou of de onderneming waar je voor werkt.</p>
    <p>11.6	Naast de ontvangers zoals genoemd in artikel 11.1, is het mogelijk dat Advieskeuze.nl Persoonsgegevens openbaart of ontsluit in de navolgende gevallen:</p>
    <p>11.1.1  Indien Advieskeuze.nl wordt betrokken in een aan- of verkoop van onderneming, in welk geval er mogelijk Persoonsgegevens worden verstrekt aan de potentiële koper en de Persoonsgegevens worden verstrekt onder dit Beleid;</p>
    <p>11.1.2  Indien Advieskeuze.nl op basis van een wettelijke verplichting Persoonsgegevens dient te verstrekken, of om het Beleid, de algemene voorwaarden of de overeenkomst met je (of je werkgever of opdrachtgever) uit te voeren, om de rechten, eigendommen en vrijheden van Advieskeuze.nl of haar klanten of anderen te waarborgen, zal Advieskeuze.nl hier eveneens toe overgaan.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>12	Internationale doorgifte</h2>
    <p>12.1	Advieskeuze.nl geeft Persoonsgegevens in beginsel niet door aan landen of internationale organisaties buiten de Europese Economische Ruimte (hierna: “EER”).</p>
    <p>12.2	Indien het voorkomt dat Advieskeuze.nl Persoonsgegevens doorgeeft aan een land of internationale onderneming buiten de EER zal Advieskeuze.nl ervoor zorgen dat er passende waarborgen zijn voor de bescherming van Persoonsgegevens.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h1>E. JE RECHTEN EN WAARBORGEN</h1>
    <h2>13	Beveiliging</h2>
    <p>13.1	Advieskeuze.nl hecht grote waarde aan de beveiliging van Persoonsgegevens en heeft hier passende maatregelen en waarborgen voor getroffen. Deze maatregelen voldoen aan de eisen die de AVG hier aan stelt en zijn onder meer de volgende:</p>
    <ul class="mb1">
      <li>Login/wachtwoord voor de Cloud-omgeving van derden hosting partijen;</li>
      <li>Versleuteling van persoonsgegevens;</li>
      <li>Hashing en anomiseren van IP adressen;</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>14	Rechten</h2>
    <p>14.1	De AVG geeft je als betrokkene, afhankelijk van de situatie en onder voorwaarden, de volgende rechten:</p>
    <ul class="mb1">
      <li>Het recht om inzage te vragen in de Persoonsgegevens;</li>
      <li>Het recht om te verzoeken om de rectificatie van Persoonsgegevens;</li>
      <li>Het recht om verwijdering van de Persoonsgegevens te vragen;</li>
      <li>Het recht om te vragen of de verwerking beperkt kan worden;</li>
      <li>Het recht om tegen de verwerking bezwaar te maken;</li>
      <li>Het recht op dataportabiliteit;</li>
      <li>Waar de verwerking gebaseerd is op toestemming: het recht om de toestemming op ieder moment in te trekken, zonder dat er afbreuk wordt gedaan aan de rechtmatigheid van de verwerking vóór deze intrekking;</li>
      <li>Het recht om een klacht in te dienen bij een toezichthoudende autoriteit, zoals de Autoriteit Persoonsgegevens;</li>
    </ul>
    <p>14.2	In de uitvoering van deze rechten is het mogelijk dat Advieskeuze.nl verzoekt om specifieke aanvullende informatie. Deze aanvullende informatie wordt slechts verwerkt met het doel om de genoemde rechten uit te oefenen.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>15	Vragen</h2>
    <p>15.1	Voor vragen over de verwerking van Persoonsgegevens door Advieskeuze.nl en voor verzoeken ten aanzien van je Persoonsgegevens (zoals bedoeld in artikel 14) kun je contact opnemen met Advieskeuze.nl via de gegevens zoals vermeld in artikel 1.1 van dit Beleid.</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <p class="i">Deze privacyverklaring is laatst gewijzigd op 25 mei 2018.</p>
  </div>
</div>
