<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Reviewbeleid van Advieskeuze.nl</h1>
    <p>Als je een keer een review op Advieskeuze.nl hebt geschreven, is het je misschien opgevallen dat wij meer informatie vragen dan in de uiteindelijke review zichtbaar is (bijv. je echte naam en e-mailadres). Dit zijn onze verificatievragen; deze helpen ons om de reviews te kunnen controleren op authenticiteit en betrouwbaarheid.</p>
  </div>
  <div class="grid-cell100">
    <h2>Wij controleren elke review</h2>
    <p>Advieskeuze.nl is een faciliterend platform: Jij kan als bezoeker reviews schrijven en bedrijven kunnen hun bedrijf en medewerkers middels een profiel presenteren op het internet. Dat maakt dat alle deelnemers aan ons platform een gedeelde verantwoordelijkheid dragen voor de content. Advieskeuze.nl neemt binnen haar mogelijkheden de verantwoordelijkheid voor de betrouwbaarheid van deze content.</p>
    <p>Daarom worden alle reviews op Advieskeuze.nl gecontroleerd. Wij controleren reviews op signalen die erop kunnen duiden dat een review mogelijk foutief of met verkeerde motieven (onrechtmatig) is ingevuld: waar komt de review vandaan? Wie heeft de review geschreven? Is er reden om aan te nemen dat iemand nog een ander belang heeft bij deze review dan het ‘delen van zijn ervaring’ met andere bezoekers?</p>
    <p>Zijn er geen redenen om te twijfelen aan de rechtmatigheid dan keuren wij de review goed. Vertrouwen wij de signalen niet? Dan doen wij navraag bij de reviewgever of de dienstverlener. Het antwoord dat wij ontvangen, bepaalt in dat geval of een review zichtbaar blijft of van het platform wordt verwijderd.</p>
    <p>Wij controleren de reviews niet op feitelijke en inhoudelijke juistheid, omdat dit niet binnen onze mogelijkheden ligt. Een review is per definitie subjectief en mag binnen redelijke grenzen worden overdreven. Als een reviewgever schrijft dat hij of zij "een factuur van honderden euro's" kreeg, terwijl dit om 150 euro ging; dan is de review feitelijk onjuist, maar wordt wel geplaatst omdat dit binnen de grenzen van de mogelijke perceptie ligt.</p>
  </div>
  <div class="grid-cell100">
    <h2>Wat mogen we gezamelijk van de reviewgever verwachten?</h2>
    <p>De review moet een toelichting hebben. Reviews die met een nietszeggende toelichting worden ingediend, worden afgekeurd. Dit komt in de praktijk vooral voor als er dummy-tekst wordt ingevoerd om te voldoen aan het minimaal aantal karakters.</p>
    <p>De reviewgever mag anoniem een review geven. Dat wil zeggen dat er bij de review op de website van Advieskeuze.nl geen herleidbare naam zichtbaar is. Zijn of haar naam wordt echter wel door ons gevraagd. Onderdeel van het geven van een review zijn de vragen "Wat is je echte naam?" en "Wat is je e-mailadres?". Deze maken een review voor ons controlemechanisme dus niet anoniem.</p>
    <p>Wij mogen verwachten dat de reviewgever contact heeft gehad met de beoordeelde dienstverlener, maar hoeft daar geen betalende klant te zijn. Iedereen die een eigen ervaring heeft in persoon, per telefoon of per e-mail met een dienstverlener, mag een review op Advieskeuze.nl geven.</p>
    <p>De reviewgever heeft vrijheid van meningsuiting. Als de reviewgever zegt "minstens tien keer" contact te hebben gezocht, terwijl de dienstverlener maar twee gemiste oproepen heeft, vinden wij dat dit klantperceptie is (vaak gebeld, onbereikbaar) en keuren wij de review goed.</p>
    <p>De reviewgever mag niet (achter elkaar) meerdere reviews geven voor dezelfde dienstverlener over hetzelfde onderwerp. Wel staan wij toe dat twee mensen allebei een review mogen geven over hetzelfde contactmoment als zij daar beiden bij waren. Wij controleren de herkomst van een review bijvoorbeeld op basis van gepseudonimiseerd IP-adres. Als er meerdere reviews dezelfde herkomst hebben, dan worden deze door ons op één na afgekeurd. Dit gebeurt ongeacht of de reviews positief of negatief zijn.</p>
    <p>De reviewgever mag geen familie zijn van een van de medewerkers van de dienstverlener. Wij controleren dit op basis van de echte naam en de bij ons bekende medewerkers in de database. Bij twijfel wordt dit nagevraagd bij de reviewgever.</p>
  </div>
  <div class="grid-cell100">
    <h2>Wat mag jij van ons verwachten?</h2>
    <p>Als jij een review geeft dan wordt deze direct zichtbaar op Advieskeuze.nl. Ook al is de review nog niet door ons gecontroleerd. Dat doen we, zodat je het resultaat van zijn review direct kan zien. Reviews worden (op werkdagen) altijd binnen 24 uur door ons gecontroleerd. Wanneer er geen problemen mee zijn, blijft de review gewoon zichtbaar op het platform.</p>
    <p>Als wij er zeker van zijn dat een review foutief is, of met onjuiste motieven is geschreven, verwijderen wij hem direct. Wanneer wij onze twijfels hebben bij een review en navraag doen, dan wordt de review tijdelijk onzichtbaar. Blijkt onze twijfel gegrond, dan wordt de review definitief verwijderd. Blijkt onze twijfel ongegrond, dan wordt de review opnieuw zichtbaar op het platform.</p>
    <p>Wij hanteren echter een streng privacy-beleid: andere informatie dan die bij de review in het zichtbare deel op de website is geschreven, verstrekken wij nooit aan dienstverleners of derden (tenzij met uitdrukkelijke toestemming van de consument).</p>
    <p>Zoals eerder al genoemd, controleren wij reviews niet op feitelijke inhoud. Allereerst omdat dit onmogelijk is, daarnaast omdat een verhaal altijd twee kanten kent en de perceptie over een gebeurtenis kan verschillen. Consumenten hebben het recht om hun perceptie te delen met andere consumenten; net zoals dat de dienstverlener het recht heeft om de lovende reviews extra onder de aandacht te brengen bij (potentiële) klanten door ze te delen. Om die reden verwijderen wij nooit reviews om inhoudelijke redenen.</p>
  </div>
</div>
