<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Spelregels / criteria</h1>
    <p>Wij hechten veel waarde aan de onafhankelijkheid en betrouwbaarheid van onze reviews. Om dit te waarborgen worden alle reviews individueel gecontroleerd. Reviews die niet aan onze criteria voldoen, verwijderen wij van ons platform:</p>
    <ul>
      <li>Reviews zijn volledig ingevuld en bevatten een toelichting.</li>
      <li>Reviews bevatten geen grof of beledigend taalgebruik.</li>
      <li>Reviews bevatten geen reclame-uitingen of persoonsgegevens.</li>
      <li>Reviews zijn niet geschreven door personen die een belang hebben in of bij de beoordeelde partij. Bijvoorbeeld: eigenaren, (oud-)werknemers, familieleden, etc.</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <p>Je kunt meer lezen over het handhaven van deze criteria in ons @Html.RouteLink("beleid omtrent reviews op Advieskeuze.nl", AdvieskeuzeRoutes.Reviewbeleid()). Met het aanvinken van de verklaring aan het einde van een review, ga je akkoord met de voorwaarden en geef je aan dat je jouw review correct, nauwkeurig en oprecht hebt ingevuld.</p>
    <p>Indien je het niet eens bent met een review, dan kun je dit tot één jaar nadat de review is geplaatst op Advieskeuze.nl kenbaar maken. Dienstverleners kunnen dit doen via het <a href="http://extranet.advieskeuze.nl" target="_blank">extranet</a>. Consumenten kunnen via het @Html.RouteLink("contactformulier", AdvieskeuzeRoutes.Contact()) of per post [Spacelab 41, 3824 MR te Amersfoort] contact met ons opnemen.</p>
    <p>Bekijk voor meer informatie ons @Html.RouteLink("beleid omtrent reviews op Advieskeuze.nl", AdvieskeuzeRoutes.Reviewbeleid()) of de @Html.RouteLink("veelgestelde vragen", AdvieskeuzeRoutes.Faq()).</p>
  </div>
</div>
