<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Voorwaarden voor de reviews</h1>
    <p>Wat gebeurt er met jouw review nadat je hem hebt geplaatst?</p>
    <ul>
      <li>De review wordt zichtbaar voor andere bezoekers van Advieskeuze.nl en de dienstverlener.</li>
      <li>De review kan gedeeld worden op social media.</li>
      <li>De review kan zichtbaar worden op partnerwebsites.</li>
      <li>De review kan door Advieskeuze.nl verwijderd worden van Advieskeuze.nl en partnerwebsites.</li>
    </ul>
    <p>We lichten dit graag toe:</p>
    <ul>
      <li>Advieskeuze.nl helpt zoveel mogelijk klanten op het eigen platform en op partnerwebsites bij het zoeken van de juiste dienstverlener. Reviews verschijnen daarom niet alleen op Advieskeuze.nl, maar ook op aangesloten partnerwebsites.</li>
      <li>Bezoeker van Advieskeuze.nl kunnen reviews delen via Facebook, Twitter, Google PLUS en LinkedIn.</li>
      <li>Dienstverleners kunnen (eenmalig) op een review op Advieskeuze.nl reageren.</li>
      <li>Naast de review plaatsen we de gebruikersnaam, plaatsingsdatum, omschrijving en (een deel van de) motivatie door.</li>
      <li>Advieskeuze.nl plaatst alleen reviews die aan de @Html.RouteLink("spelregels", AdvieskeuzeRoutes.SpelregelsBeoordeling()) voldoen. Als een review hier niet aan voldoet behoudt Advieskeuze.nl zich het recht voor de review te verwijderen. Je wordt hiervan per e-mail op de hoogte gesteld.</li>
      <li>Wil jij dat jouw review van Advieskeuze.nl wordt verwijderd? Stuur dan een mail naar info@advieskeuze.nl.</li>
      <li>Advieskeuze.nl is niet aansprakelijk voor de inhoud van een review of eventuele schade veroorzaakt door het geven van een review.</li>
    </ul>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    @Html.RouteLink("Lees ook ons reviewbeleid", AdvieskeuzeRoutes.Reviewbeleid())
  </div>
</div>
