<div class="alternating">
  <div class="homevisual zoekvisualbelasting">
    <div class="container">
      <div class="container50p fl mt5 b_wit shadow">
        <div class="p1">
          <h1>Rekentools</h1>
          <p>Hier staan wat tools waarmee je eenvoudig berekeningen kan maken over diverse financiële onderwerpen.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="altblock">
    <div class="container">
      <h2>Maximale hypotheek</h2>
      <p>Wil je weten hoeveel je maximaal aan hypotheek kan krijgen? Dan kan je dat eenvoudig berekenen op basis van je (gezamenlijke) bruto inkomen en de looptijd van de gewenste hypotheek.</p>
      <div class="buttonBlauw fr container33p">
        @Html.RouteLink("Bereken maximale hypotheek", AdvieskeuzeRoutes.BerekenMaximaleHypotheek())
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="altblock">
    <div class="container">
      <h2>Jaarinkomen berekenen</h2>
      <p>Voor de maximale hypotheek berekening is opgave van je volledig bruto jaarinkomen nodig. Aan de hand van je bruto maandsalaris, vakantiegeld en eventuele extra's kun je dit zelf berekenen.</p>
      <div class="buttonBlauw fr container33p">
        @Html.RouteLink("Bereken jaarinkomen", AdvieskeuzeRoutes.BerekenJaarInkomen())
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>