@using AdvieskeuzeCode.DataModel
@model List<Company>

<div class="grid pt1">
  <div class="grid-cell100">
    <h1>Aanbieders</h1>
    <p>Dit is een overzicht van alle aanbieders.</p>
    <ul>
      @foreach (var company in Model) {
        <li>@Html.RouteLink(company.Name, AdvieskeuzeRoutes.OverAanbieder(company.Slug))</li>
      }
    </ul>
  </div>
</div>
