@using AdvieskeuzeCode.Routes
@using SharedCode
@using SharedCode.Mvc
@model Advieskeuze.Areas.Expert.Models.HomeModel

<div class="expertvisual zoekvisual h18rem">
  <div>&nbsp;</div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2 class="fl blauw">Vraag</h2>
    <div class="fr em09">Gesteld op: @Model.Vraag.DatumDisplayShort</div>
    <div class="clear"></div>
    <p>@Html.ShowMultilineText(Model.Vraag.Omschrijving)</p>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <h2>Antwoorden</h2>
  </div>
</div>

@foreach (var a in Model.Antwoorden) {
  <div class="grid">
    <div class="grid-cell100">
      <p>
        @Html.ShowMultilineText(a.Omschrijving.TrimLength(500, "..."))
      </p>
      @Html.RouteLink("Bekijk details", AdvieskeuzeRoutes.ExpertAntwoordDetailsBekijken(Model.Vraag.SecurityID, a.ID), new { @class = "base-button button-solid-blue" })
      <div class="clear"></div>
    </div>
  </div>
}