<div class="grid">
  <div class="grid-cell100">
    <h1>Bedankt voor je vraag</h1>
    <p>Je ontvangt een e-mail waarmee je de vraag kan bevestigen.<br />Na bevestiging zal jouw vraag worden beoordeeld en voorgelegd aan één of meerdere experts.</p>
    <p>@Html.RouteLink("Bekijk de overige vragen", AdvieskeuzeCode.Routes.AdvieskeuzeRoutes.ExpertplatformZoeken(null))</p>
  </div>
</div>