@using Advieskeuze.Data.Domain.ViewModel.Banner
@using SharedCode
@model BannerModelLocatie

@{
  Layout = "~/Views/Shared/_Banner.cshtml";
  var beoordeelPagina = AdvieskeuzeRoutes.ToAbsoluteUrl(Model.ProductgroepLink != null ? AdvieskeuzeRoutes.Beoordeling(Model.ProductgroepLink, Model.KantoorLink, null, null, false) : AdvieskeuzeRoutes.Beoordeling(Model.KantoorLink));
  var cdn = GewrapteSettings.CDNUrl;
}

@if (Model.BannerSettings.VoorbeeldModus) {
<div id="banner-no-access">Let op! Ongeldig</div>
}
<a href="@beoordeelPagina" target="_blank" title="Geef @Model.Kantoor.Naam een beoordeling op Advieskeuze.nl"><img src="@cdn/content/extranet/images/foeten.png" width="600" height="90" /></a>