@using Advieskeuze.Data.Domain.ViewModel.Banner
@using SharedCode
@model BannerModelLocatie

@{
  Layout = "~/Views/Shared/_Banner.cshtml";
  var cdn = GewrapteSettings.CDNUrl;
  var pagina = Model.BannerSettings.VoorbeeldModus ? String.Empty : AdvieskeuzeRoutes.ToAbsoluteUrl(AdvieskeuzeRoutes.Beoordeling(Model.KantoorLink));
  var width = Model.BannerSettings.PropertyContainer.HuidigeAfmeting.Width;
  var height = Model.BannerSettings.PropertyContainer.HuidigeAfmeting.Height;
}

@if (Model.BannerSettings.VoorbeeldModus) {
  pagina = AdvieskeuzeRoutes.ToAbsoluteUrl(AdvieskeuzeRoutes.Home());
<div id="banner-no-access">Let op! Ongeldig</div>
}

<a href="@pagina" target="_blank"><img src="@cdn/content/advieskeuze/images/banners/banner-beoordeling-@(width)-x-@(height).png" width="@width" height="@height" alt="Geef ons een review" title="Geef ons een review"/></a>