<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="CacheTimeout" value="5" />
  <add key="CacheTimeoutShort" value="2" />
  <add key="ImageDirectory" value="c:\advieskeuze.nl\advieskeuze\uploads" />
  <add key="TempDirectory" value="c:\advieskeuze.nl\advieskeuze\uploads\temp" />
  <add key="CDNUrl" value="https://advieskeuze-v1-cdn.azurewebsites.net" />
  <add key="BannedIPs" value="" />
  <add key="MailChimp.Enabled" value="false" />
  <add key="StorageUrl" value="https://advieskeuzestorage.blob.core.windows.net" />
  <add key="Twilio.Sid" value="ACff3b8aedefa7493d0d14be9b88645f2a" />
  <add key="Twilio.Token" value="3d31a54a99e1c0b488876de0bae6f7fc" />
  <add key="Twilio.Number" value="+3197010252800" />
  <add key="Mandrill.AccessKey" value="nzpmz2-YVPALsVl3vS9wDg"/>
  <add key="AdviesgesprekBlacklist" value="jason gart, evolutionforce2"/>
  <!-- Azure -->
  <add key="Azure.ImagesContainer" value="images" />
  <add key="Azure.TempContainer" value="tempfiles" />
  <add key="EmailrestrictieMinimaalMaanden" value="3"/>
  <add key="owin:AutomaticAppStartup" value="false" />
</appSettings>
