<connectionStrings>
  <!--<add name="AdvieskeuzeDB" connectionString="Data Source=nyj7xdelkx.database.windows.net;Initial Catalog=advieskeuze;User ID=AdvieskeuzeUser;Password=;Encrypt=true;Trusted_Connection=false;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
	<!--<add name="AdvieskeuzeDB" connectionString="Data Source=localhost;Initial Catalog=Advieskeuze;Integrated Security=True;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->

	<add name="AdvieskeuzeDB" connectionString="Server=tcp:advieskeuzeserver.database.windows.net,1433;Initial Catalog=AdviesKeuze;Persist Security Info=False;User ID=advieskeuze_db;Password=Yqw:=w3k@password;MultipleActiveResultSets=true;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

</connectionStrings>